body {
  font-family: Arial, sans-serif;
  background-color: #c2c2c2;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #dbdbdb;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.calculator {
  text-align: center;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  font-size: 24px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

table {
  width: 100%;
}

td {
  padding: 5px;
}

button {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e0e0e0;
}

/* Additional styling for specific buttons */
button#equals {
  background-color: #f66c6c;
  color: #fff;
}

button#clear {
  background-color: #ccc;
}

button.operator {
  background-color: #333;
  color: #fff;
}

button.operator:hover {
  background-color: #444;
}
